<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249910721011-84k64jggernhdeqkop3tt9u1acdrati8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249910721011-84k64jggernhdeqkop3tt9u1acdrati8</string>
	<key>API_KEY</key>
	<string>AIzaSyBpxwfaofaHImVt-rg2ZHCZ25GRmjnBeWA</string>
	<key>GCM_SENDER_ID</key>
	<string>249910721011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cmgo</string>
	<key>PROJECT_ID</key>
	<string>cmgo-253021</string>
	<key>STORAGE_BUCKET</key>
	<string>cmgo-253021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249910721011:ios:6a4eb1157617a2f3313a86</string>
	<key>DATABASE_URL</key>
	<string>https://cmgo-253021.firebaseio.com</string>
</dict>
</plist>